---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>

<section id='content'>
{% for post in site.posts %}
  <article class='{{ post.type }}'>
    {% if post.type %}<code class="endpoint"><b>{{ post.type }}</b> {{ post.path }}</code> {% endif %}
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{{ post.title }}</h2></a>
    <section class='body'>
      <h4>{% if post.type %}<code>{{ post.path }}</code> {% endif %}</h4>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>